<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="author"       content="{{ site.author }}" />
  <meta name="description"  content="{{ site.description }}" />
  <link rel="stylesheet"    href="{{ "/assets/css/style.css" | relative_url }}">
{% comment %}
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  {% feed_meta %}
  <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:500,500i,300,300i|Roboto+Mono">
{% endcomment %}
</head>
